.stickynav {
  position: -webkit-sticky;
  position: sticky;
  top: 10px;
  background-color: white;
  padding: 10px;
  text-align: right;
  font-size: x-large;
}

body {
  margin: 0;
}

h1,
.container-fluid {
  margin: 15px;
}

.firstPara {
  padding-left: 100px;
  padding-right: 100px;
  text-align: justify;
}