.stickynav {
  position: -webkit-sticky;
  position: sticky;
  top: 10px;
  background-color: whitesmoke;
  padding: 10px;
  text-align: right;
  font-size: x-large;
}
body {
  margin: 0;
  background-color: whitesmoke;
}
h1,
.container-fluid {
  color: rgb(78, 78, 174);
  margin: 15px;
}
.firstPara {
  padding-left: 100px;
  padding-right: 100px;
  text-align: justify;
}
.home{
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* image hover effect */
img:hover {
  position: relative;
  -webkit-transform: scale(1.5);
  -ms-transform: scale(2);
  -o-transform: scale(2);
  transform: scale(1.5);
  z-index: 1000;
}
* {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
/* image boarder conatiner */
.img-container{
max-width: 600px;
height: 600px;
border-radius: 1px;
overflow: hidden;
position: relative;
box-sizing: inherit;
}
.img-container img{
  width: 100%;
  display: block;
}
